@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  margin: 0;
  padding-right: 100px;
  padding-left: 100px;
  font-family: 'Montserrat', sans-serif;
}

.App section {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 100px;
  padding-right: 100px;
}

.App section {
  font-family: sans-serif;
  font-weight: normal;
  font-size: 1.0em;
  margin-top: 20px;
  margin-bottom: 15px;
}

.App section:nth-child(odd) {
  background-color: #f5f5f5;
}
